@model Tycoon.Models.ViewModels.ServiceViewModel
@using Tycoon.Extensions

<br />
<h2 class="text-info">Create Service</h2>
<br />
<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="border backgroundwhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Service.Name" class="form-control" />
            </div>
            <span asp-validation-for="Service.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.Service.Description)
            </div>
            <span asp-validation-for="Service.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Service.Price" class="form-control" />
            </div>
            <span asp-validation-for="Service.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control"
                       asp-for="Service.Price" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Service.CategoryId" id="CategoryId"
                        asp-items="Model.Category.ToSelectListItem(Model.Service.CategoryId)"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Service.SubCategoryId" id="SubCategoryId" name="SubCategoryId"
                        asp-items="@(new SelectList(string.Empty, "Id", "Name"))"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Service.Popularity" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Service.Popularity"
                        asp-items="Html.GetEnumSelectList<Service.EDemand>()"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListPartial" />
            </div>
        </div>
    </div>

</form>


@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });

        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsource = '#CategoryId';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var services = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subCategory) {
                    services += "<option value='" + subCategory.value + "'> "
                        + subCategory.text + "</option>";
                });

                $('#SubCategoryId').html(services);
            })
        }
    </script>

}