@model IEnumerable<Service>


@if (Model.Count() > 0)
{
    <div class="col-12 
         post @Model.FirstOrDefault().Category.Name.Replace(" ", string.Empty) tycoon-services">
        <div class="row">
            <h3 class="text-success">@Model.FirstOrDefault().Category.Name</h3>
        </div>

        @foreach(var service in Model)
        {
            <div class="border border-info rounded col-12" 
                 style="margin-bottom:10px; margin-top:10px; padding:10px;">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img src="@service.Image" width="95%" 
                             style="border-radius: 5px; border: 1px solid #bbb9b9;" />
                    </div>
                    <div class="col-md-9 col-sm-12" >
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:21px; color:maroon;">
                                    @service.Name
                                </label>
                                @if (service.Popularity == "1")
                                {
                                    <label class="text-danger" style="font-size:12px; color:maroon;">
                                        | Not Popular
                                    </label>
                                }
                                @if (service.Popularity == "2")
                                {
                                    <label class="text-primary" style="font-size:12px; color:maroon;">
                                        | Popular
                                    </label>
                                }
                                @if (service.Popularity == "3")
                                {
                                    <label class="text-success" style="font-size:12px; color:maroon;">
                                        | Very Popular
                                    </label>
                                }
                            </div>
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>$@service.Price</h4>
                            </div>
                        </div>
                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>@Html.Raw(service.Description)</p>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center" >
                            <a asp-action="Details" class="btn btn-success form-control"
                               asp-route-id="@service.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="p-4"></div>
    </div>
}